@import './../styling/mixins';
@import './../styling/colors';

.paginator {
	&-container {
		@include widget-common-elements();
		align-items: center;
		display: flex;
		flex-direction: row;
		height: 60px;
		justify-content: center;
	}

	&-indicator {
		margin: 5px;
		margin-top: 15px;
		padding: 10px;
		padding-top: 15px;
	}
	&-button {
		@include common-button();
		border-radius: 5px;
		padding: 10px;
		width: 60px;
	}
}
